/* Importa la fuente "Inter" de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Estilos generales para todos los elementos */
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el total del ancho y alto */
}
/*Cuerpo principal de la pagina web*/
body{
    height: 100vh;/* Ocupa toda la altura de la ventana */
}
/*Cabecero del body, donde se escuentran: logotipo Alura, redes sociales y titulo de la pagina web*/
header{
    display: flex;/* Flexbox para el layout del encabezado */
}
/*Redes sociales del autor de la pagina*/
.redes_sociales{
    display: flex;/* Flexbox para el layout de los iconos de redes sociales */
    gap: 10px;/* Espacio entre los iconos */
}
/*Linkedin y Github del autor*/
.linkedin,.github{  
    padding-top: 15px;/* Espaciado superior */
    align-content: center;/*Alinea el contenido al centro*/
    font-size: 40px;/* Tamaño de la fuente de los iconos */
    color: #CDE8E5;/* Color de los iconos */
}
/*Logotipo de ALura latam*/
.logotipo_alura{
    filter: brightness(150%) drop-shadow(0 0 15px #8f9796);/*Sombra del logotipo*/
    padding-top: 15px;/* Espaciado superior */
}
/*Div que contiene al video de fondo*/
.container_video{
    height: 100%;/* Ocupa toda la altura del contenedor */
    position: relative;/* Para posicionar el video y el contenido superpuesto */
}
/*Propiedades adicionales al video de fondo*/
video{
    position: absolute;/* Posiciona el video detrás del contenido */
    top: 0;/*Inicia el div del video en la parte superior de la vetana*/
    left: 0;/*Inicia el div del video en la parte izquierda de la vetana*/
    width: 100%;/*Un ancho del 100% con respecto al ancho de la ventana*/
    height: 100%;/*Un alto del 100% con respecto al alto de la ventana*/
    object-fit:fill;/* Ajusta el video para cubrir el área */
    z-index: -1;/* Envía el video al fondo */
}
/*Contenedor general para el contenido principal*/
.container_general{
    position: absolute;/* Superpone el contenedor general sobre el video */
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;/* Asegura que el contenido esté delante del video */
}
/*Titulo de la pagina web*/
h1{
    text-align: center;/* Centra el texto */
    display: inline-block;
    width: 70%;
    color: #CDE8E5;/* Color del texto */
    padding-top: 20px;/* Espaciado superior */
    text-transform: uppercase;/* Convierte el texto a mayúsculas */
    letter-spacing: 5px;/* Espacio entre letras */
    font-weight: 600;/* Grosor de la fuente */
    text-shadow: 0 0 10px #0079FF;/* Sombra del texto */
    font-family: "Inter", sans-serif;/* Fuente del texto */
}
/*Seccion que contiene el ingreso para la encriptacion y desencriptacion*/
.container_padre{
    display: flex;/* Flexbox para el layout principal */
    gap: 3%;/* Espacio entre los elementos */
    width: 100%;
    height: 88%;
    padding-left: 3%;/* Espaciado izquierdo */
}
/*Div donde el usuario ingresara un texto a encriptar o desencriptar*/
.seccion_ingresar_texto{
    width: 65%;
    height: 100%;
    padding: 2%;/* Espaciado interno */
    display: flex;/* Flexbox para el layout de la sección */
    flex-direction: column;/*Acomoda el contenido en columnas*/
    align-items: center;/*Indica la alineación de un elemento dentro del bloque, en este caso en el centro*/    
    justify-content: center;/*Espacio entre y alrededor de los items flex, a lo largo del eje principal de su contenedor*/
}
/*Textarea donde se ingresa el texto*/
.ingreso_texto{
    width: 75%;
    border: none;/*Sin borde*/
    resize: none;/*controlar la capacidad de cambio de tamaño de un elemento*/
    background-color: transparent;/*Color de fondo transparente*/
    outline: none;/*Sin propiedades de contorno*/
    font-size: 20px;/*Tamaño de la fuente del texto*/
    font-family: "Inter", sans-serif;/*Fuente de texto*/
    color: #EBF4F6;
    backdrop-filter: blur(11px);/* Filtro de desenfoque */  
    padding: 15px;
    box-shadow: 0 0 9px inset #003366;/* Sombra interna */
    border-radius: 10px; /* Bordes redondeados */
}
/*Agregando color al placeholder del textarea*/
.ingreso_texto::placeholder{
    color: #EBF4F6;/* Color del texto del placeholder */
}
/*Div que contiene una consideracion para ingresar un texto*/
.alert_1{
    width: 75%;
    text-align: left;/* Alineación del texto */
}
/*Consideracion para ingresar un texto*/
.parrafo_1{
    font-size: .8rem;/* Tamaño de la fuente */
    display: flex;/* Flexbox para el layout del párrafo */
    gap: 5px;/* Espacio entre los elementos */
    align-items: center;/*Indica la alineación de un elemento dentro del bloque, en este caso en el centro*/
    font-family: "Inter", sans-serif;/*Fuente de texto*/
    margin-top: 4px;
    color: #EBF4F6;
}
/*Establece el tamaño de la fuente en 17 píxeles para cualquier elemento "span" que sea un hijo directo de un elemento con la clase "parrafo_1"*/
.parrafo_1 > span{
    font-size: 17px;/* Tamaño de la fuente del icono */
}
/*Div que alberga los botones de encriptar y desencriptar*/
.seccion_botones{
    width: 75%;
    margin-top: 5px;/* Espaciado del margen superior */
    padding: 5px;
    display: flex;/* Flexbox para el layout de los botones */
    justify-content: center;/*Espacio entre y alrededor de los items flex, a lo largo del eje principal de su contenedor*/
    gap: 40px;/* Espacio entre los elementos */
}
/*Propiedades adicionales para los botones*/
input{
    width: 36%;
    height: 40px;
    border-radius: 15px; /* Bordes redondeados */
    color:  #003366;
    outline: none;/*Sin propiedades de contorno*/
    border: 1px solid #00A1E0; /* Borde(tamaño; tipo de borde; color del borde) */
    font-size: 1.1rem;/* Borde */
}
/*Selector de atributo para el boton Encriptar*/
input[value ="Encriptar"]{
    background-color: #D3D3D3;/* Color de fondo del botón "Encriptar" */
    cursor: pointer; /*Tipo de cursor que se mostrara cuando este se encuentre sobre un elemento*/
}
/*Selector de atributo para el boton Desencriptar*/
input[value ="Desencriptar"]{
    background-color:#CDE8E5;/* Color de fondo del botón "Desencriptar" */
    color: #4D869C;/* Color del texto del botón "Desencriptar" */
    cursor: pointer; /*Tipo de cursor que se mostrara cuando este se encuentre sobre un elemento*/
}
input[value ="Encriptar"]:hover{
    background-color: #928bb788;
    color: wheat;
}
input[value ="Desencriptar"]:hover{
    background-color: #47dcca55;
    color: wheat;
}

/*Div que contiene al texto encriptado o desencriptado*/
.seccion_leer_texto_encriptado{
    background-color: transparent;
    display: flex;/* Flexbox para el layout de la sección */
    flex-direction: column;/*Acomoda el contenido en columnas*/
    justify-content: center;/*Espacio entre y alrededor de los items flex, a lo largo del eje principal de su contenedor*/
    border-radius: 32px;/* Bordes redondeados */
    box-shadow: 0 0 10px inset #003366;/* Sombra interna */
    width: 22%;
    padding: 20px;
    text-align: center;/* Alineación del texto */
    backdrop-filter: blur(11px);/* Filtro de desenfoque */ 
}
/*Div que contiene los mensajes que se mostraran cuando no haya ningun texto para encriptar o desencriptar*/
.contenedor_seccion_mensajes{
    width:100%;
    height: 70%;
    
}
/*Establece el centrado del texto para cualquier elemento "h2 y p" que sea un hijo directo de un elemento con la clase "contenedor_seccion_mensajes"*/
.contenedor_seccion_mensajes>h2,p{
    text-align: center;/* Alineación del texto */
}
/*Selector que da formato a los elementos "p" dentro de la seccion "contenedor_seccion_mensajes"*/
.contenedor_seccion_mensajes>p{
    font-family: "Inter", sans-serif;/*Fuente del texto*/
    font-weight: 400;/* Grosor de la fuente */
}
/*Imagen que aparece cuando no se ha ingresado un texto a encriptar o desencriptar*/
.muñeco_seccion2{
    margin-top: 15px;
    width: 90%;
}
/*Mensaje que se muestra solo si no hay un texto a encriptar o desencriptar*/
.parrafo_2{
    font-family: 'Inter', sans-serif;/*Tipo de fuente*/
    font-size: 24px;/*Tamaño de la fuente*/
    font-weight: bold;/* Grosor de la fuente */
    color: #EBF4F6;
}
/*Mensaje que se muestra solo si no hay un texto a encriptar o desencriptar*/
.parrafo_3{
    font-family: "Inter", sans-serif;/*Tipo de fuente*/
    font-size: 16px;/*Tamaño de la fuente*/
    font-weight: 400;/* Grosor de la fuente */
    color: #EEF7FF;
}
/*Seccion que se muestra si hay un texto encriptado o desencriptado*/
.respuesta_boton_encriptar{
    display: none;/* Flexbox para el layout de la sección */
    flex-direction: column;/*Acomoda el contenido en columnas*/
    gap:8px;/* Espacio entre los elementos */
    width: 100%;
    padding: 8px;
}
/*Selector que le da formato al textarea dentro de la seccion "respuesta_boton_encriptar"*/
.respuesta_boton_encriptar > textarea{
    resize: none;/*controlar la capacidad de cambio de tamaño de un elemento*/
    outline: none;/*Sin propiedades de contorno*/
    overflow: auto;/*Dibuja barras de desplazamiento*/
    padding: 10px;
    font-size: .9rem;
    font-family: "Inter", sans-serif;
    color: #EBF4F6;
    font-weight: 600;
    border-radius: 15px;
    opacity: .8;/*Opacidad del bloque*/
    background-color: #7AB2B2;
}
/*Selector que le da formato al textarea dentro de la seccion "respuesta_boton_encriptar"*/
.respuesta_boton_encriptar>input{
    width: 100%;
    border-radius: 15px;
    font-size: 1.1rem;
    padding:10px;
    font-family: "Inter", sans-serif;
    cursor: pointer; /*Tipo de cursor que se mostrara cuando este se encuentre sobre un elemento*/
    background-color: #7AB2B2;
    outline: none;/*Sin propiedades de contorno*/
    border: 1px solid rgba(0, 0, 0, 0.94);/*Borde (tamaño; tipo;color)*/
    color: #EBF4F6;
}
/*Cambia el color de fondo de un elemento boton copiar que es un hijo directo de un elemento con la clase "respuesta_boton_encriptar" cuando el usuario pasa el ratón sobre dicho boton*/
.respuesta_boton_encriptar >input:hover{
    background-color: #4B70F5;/* Color de fondo al pasar sobre el botón */
}
/*Pie de pagina que contiene al autor de la pagina*/
footer{
    display: flex;/* Flexbox para el layout del pie de página */
    align-items: center;/* Alinea verticalmente los elementos */
    padding: 1.4px;
    color: #EBF4F6;
}
/*Descripcion del autor de la pagina*/
marquee{
    font-family: "Inter", sans-serif;  
    font-style: oblique;/* Estilo de fuente oblicua */
    font-size: 14px;
    text-shadow: 1px 1px 2px #4B70F5;/* Sombra del texto */
    white-space: nowrap;/* Impide que el texto se rompa en varias líneas */
}

/*Responsividad para una tablet con un ancho minimo de 768px y un maximo ancho de 1024px*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Responsividad para el Div que contiene al video de fondo*/
    .container_video {
        width: 100%;
        height: 100%;
    }
    /*Responsividad del contenedor general para el contenido principal*/
    .container_general {
        width: 100%;
    }
    /*Responsividad de la seccion que contiene el ingreso para la encriptacion y desencriptacion*/
    .container_padre {
        flex-direction: column;
        width: 100%;
        height: 87%;
    }
    /*Responsividad de la seccion donde se ingresa el texto*/
    .seccion_ingresar_texto {
        justify-content: center;
        width: 100%;
        height: 70%;
    }
    /*Responsividad del Textarea donde se ingresa el texto*/
    .ingreso_texto {
        width: 90%;
        height: auto;
        border-radius: 8px; 
        font-size: 20px;
        /*font-family: "Inter", sans-serif;*/
        /*color: #EBF4F6;*/
        backdrop-filter: blur(11px);  
        box-shadow: 0 0 9px inset #003366;
        border-radius: 10px;
    }
    /*Responsividad del Div que contiene una consideracion para ingresar un texto*/
    .alert_1{
        font-size: .8rem;
        display: flex;
        width: 90%;
        gap: 5px;
        /*font-family: "Inter", sans-serif;*/
        margin-top: 4px;
        /*color: #EBF4F6;*/
    } 
    /*Responsividad de los botones de la "seccion_ingresar_texto"*/
    .seccion_botones input {
        width: 36%;
        height: 40px;
        border-radius: 15px;
        color:  #003366;
        outline: none;
        border: 1px solid #00A1E0;    
        font-size: 1.1rem;
    }
    /*Responsividad de la seccion donde se encuentran los botones*/
    .seccion_botones {
        justify-content: space-around;
        width: 100%;
        height: 7%; 
        padding: 0 5px;
        align-items: center;
        background-color: transparent;
    }
    /*Responsividad del Div que contiene al texto encriptado o desencriptado*/
    .seccion_leer_texto_encriptado {
        width: 90%;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
        height: 27%; 
        /*color: #333333;*/
        text-align: center;
        border-radius: 32px;
        box-shadow: 0 0 10px inset #003366;
    }
    /*Responsividad del Div que contiene los mensajes que se mostraran cuando no haya ningun texto para encriptar o desencriptar*/
    .contenedor_seccion_mensajes {
        align-content: center;
    }
    /*El elemento hijo "muñeco_seccion2" se modificara para mejorar la responsividad en un dispositivo tipo tablet*/
    .contenedor_seccion_mensajes > .muñeco_seccion2 {
        display: none;
    }
    /*Responsividad del mensaje que se muestra solo si no hay un texto a encriptar o desencriptar*/
    .parrafo_2{
        /*font-family: 'Inter', sans-serif;*/
        font-size: 28px;
        font-weight: bold;
        /*color: #EBF4F6;*/
    }
    /*Responsividad del mensaje que se muestra solo si no hay un texto a encriptar o desencriptar*/
    .parrafo_3{
        /*font-family: "Inter", sans-serif;*/
        font-size: 20px;
        font-weight: 400;
        /*color: #EEF7FF;*/
    }
    /*Responsividad del elemento "boton copiar" que es un hijo directo de un elemento con la clase "respuesta_boton_encriptar"*/
    .respuesta_boton_encriptar {
        height: 100%;
    }
    /*El elemento hijo "text_seccion" se modificara para mejorar la responsividad en un dispositivo tipo tablet*/
    .respuesta_boton_encriptar > .text_seccion2,
    #copiar {
        width: 100%;
    }
    /*Responsividad del pie de pagina en una tablet*/
    footer{
        width: 100%;
        margin-top: 5px;
    }
    /*Responsividad del nombre del autor*/
    .pie_pagina{
        font-size: 1.375rem;
    }
}
/*Responsividad para un celular con un ancho minimo de 360px y un maximo ancho de 767px*/
@media only screen and (min-width: 360px) and (max-width: 767px){
    /* Responsividad para el Div que contiene al video de fondo*/
    .container_video {
        max-width: 100%;
        height: 100%;
    }
    /*Responsividad del contenedor general para el contenido principal*/
    .container_general {
        width: 100%;
        height: 95%;
    }
    /*Responsividad de la seccion que contiene el ingreso para la encriptacion y desencriptacion*/
    .container_padre {  
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 100%;
        height: 80%;
        padding: 12px;
    }
    /*Responsividad del cabecero de la pagina web*/
    header{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*Responsividad del logotipo de Alura*/
    .logotipo_alura{
        filter:contrast(400%);
        width: 10%;
        height: 26%;
        padding: 15px 0 10px 0;
        margin: 0;
    }
    /*Responsividad del titulo de la pagina web*/
    h1{
        width: 50%;
        padding: 5px;
        align-content: center;
        font-size: 1.5rem;
        letter-spacing: 2px;/* Espacio entre letras */
    }
    /*Responsividad de las redes sociales*/
    .redes_sociales{
        display: flex;
        gap: 10%;
    }
    /*Responsividad de los iconos de Linkedin y GitHub*/
    .linkedin,.github{
        font-size: 2rem;
        align-content: center;
        padding: 0%;
    }
    /*Responsividad de la seccion donde se ingresa el texto*/
    .seccion_ingresar_texto{
        width: 100%;
        height: 70%;
        margin: 0;
    }
    /*Responsividad del Textarea donde se ingresa el texto*/
    .ingreso_texto{
        width: 100%;
    } 
    /*Responsividad del Div que contiene una consideracion para ingresar un texto*/
    .alert_1{
        width: 100%;
    }
    /*Responsividad de la seccion donde se encuentran los botones*/
    .seccion_botones{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    /*Responsividad para los botones de encriptar y desencriptar*/
    #encriptar,#desencriptar{
        width: 100%;
        margin: 5px 0 ;
    }
    /*Responsividad del Div que contiene al texto encriptado o desencriptado*/
    .seccion_leer_texto_encriptado{
        width: 100%;
        height: 30%;
    }
    /*Responsividad del Div que contiene los mensajes que se mostraran cuando no haya ningun texto para encriptar o desencriptar*/
    .contenedor_seccion_mensajes{
        align-content: center;
    }
    /*El elemento hijo "muñeco_seccion2" se modificara para mejorar la responsividad en un dispositivo tipo celular*/
    .contenedor_seccion_mensajes>.muñeco_seccion2{
        display: none;
    }
    /*Responsividad del elemento "boton copiar" que es un hijo directo de un elemento con la clase "respuesta_boton_encriptar"*/
    .respuesta_boton_encriptar{
        height: 100%;
    }
    /*Responsividad del pie de pagina en una tablet*/
    footer{
        width: 100%;
        margin-top: 5px;
    }
    /*Responsividad del nombre del autor*/
    .pie_pagina{
        font-size: 1.2rem;
    }
}