@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
}

body{
    /*background-color: #E5E5E5;*/
    /*width: 100vw;*/
    height: 100vh;
}
header{
    display: flex;
    /*background-color: red;*/
}
.redes_sociales{
    display: flex;
    gap: 10px;
}
.linkedin,.github{  
    /*padding: 2px 15px;*/
    padding-top: 15px;
    align-content: center;
    font-size: 40px;
    color: #CDE8E5;
}
.logotipo_alura{
    filter: drop-shadow(0 0 15px #CDE8E5);
    /*width: 130px;
    height: 50px;
    background-color: red;*/
    padding-top: 15px;
}

.container_video{
    height: 100%;
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill;
    z-index: -1;
}

.container_general{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
h1{
    text-align: center;
    /*background-color: red;*/
    display: inline-block;
    width: 70%;
    color: #CDE8E5;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    text-shadow: 0 0 10px #0079FF;
    font-family: "Inter", sans-serif;
}

.container_padre{
    display: flex;
    gap: 3%;
    width: 100%;
    height: 88%;
    padding-left: 3%;
}

.seccion_ingresar_texto{
    width: 65%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    /*background-color: goldenrod;*/
}
.ingreso_texto{
    width: 75%;
    border: none;
    resize: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #EBF4F6;
    backdrop-filter: blur(11px);  
    padding: 15px;
    box-shadow: 0 0 9px inset #003366;
    border-radius: 10px;
}
.ingreso_texto::placeholder{
    color: #EBF4F6;
}
.alert_1{
    width: 75%;
    text-align: left;
}
.parrafo_1{
    font-size: .8rem;
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: "Inter", sans-serif;
    margin-top: 4px;
    color: #EBF4F6;
}
.parrafo_1 > span{
    font-size: 17px;
}
.seccion_botones{
    width: 75%;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
input{
    width: 36%;
    height: 40px;
    border-radius: 15px;
    color:  #003366;
    outline: none;
    border: 1px solid #00A1E0;    
    font-size: 1.1rem;
}
input[value ="Encriptar"]{
    background-color: #D3D3D3;
}
input[value ="Desencriptar"]{
    background-color:#CDE8E5;
    color: #4D869C;
}

.seccion_leer_texto_encriptado{
    background-color: transparent;
    /*opacity: .5;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 32px;
    box-shadow: 0 0 10px inset #003366;
    width: 22%;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(11px);
}

.contenedor_seccion_mensajes{
    width:100%;
    height: 70%;
    
}
.contenedor_seccion_mensajes>h2,p{
    text-align: center;
}
.contenedor_seccion_mensajes>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.muñeco_seccion2{
    margin-top: 15px;
    width: 90%;
}
.parrafo_2{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #EBF4F6;
}
.parrafo_3{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #EEF7FF;
}
.respuesta_boton_encriptar{
    display: none;
    flex-direction: column;
    gap:8px;
    width: 100%;
    padding: 8px;
}

.respuesta_boton_encriptar > textarea{
    resize: none;
    outline: none;
    overflow: auto;
    padding: 10px;
    font-size: .9rem;
    font-family: "Inter", sans-serif;
    color: #EBF4F6;
    font-weight: 600;
    border-radius: 15px;
    opacity: .8;
    background-color: #7AB2B2;
}
.respuesta_boton_encriptar>input{
    width: 100%;
    border-radius: 15px;
    font-size: 1.1rem;
    padding:10px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    background-color: #7AB2B2;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.94);
    color: #EBF4F6;
}
.respuesta_boton_encriptar >input:hover{
    background-color: #7AB2B2;
}
footer{
    display: flex;
    align-items: center;
    /*background-color: red;*/
    padding: 1.4px;
    color: #EBF4F6;
    /*filter: drop-shadow(0 0 15px #DFF5FF);*/
}
marquee{
    font-family: "Inter", sans-serif;
    /*-transform: uppercase; */  
    font-style: oblique;
    font-size: 14px;
    text-shadow: 1px 1px 2px #4B70F5;
    white-space: nowrap;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container_video {
        width: 100%;
        height: 100%;
    }
    .container_general {
        width: 100%;
    }
    .container_padre {
        flex-direction: column;
        width: 100%;
        height: 87%;
        /*padding: 10px;*/
    }
    .seccion_ingresar_texto {
        justify-content: center;
        width: 100%;
        height: 70%;
        /*padding: 0 ;*/
        /*background-color: red;*/
    }
    .ingreso_texto {
        width: 90%;
        height: auto; /* Ajuste la altura automáticamente */
        /*background-color: transparent;*/
        border-radius: 8px; 
        font-size: 20px;
        font-family: "Inter", sans-serif;
        /*padding: 10px;*/
        color: #EBF4F6;
        backdrop-filter: blur(11px);  
        box-shadow: 0 0 9px inset #003366;
        border-radius: 10px;
    }
    .alert_1{
        font-size: .8rem;
        display: flex;
        width: 90%;
        gap: 5px;
        font-family: "Inter", sans-serif;
        margin-top: 4px;
        color: #EBF4F6;
        /*background-color: red;*/
    } 
    .seccion_botones input {
        width: 36%;
        height: 40px;
        border-radius: 15px;
        color:  #003366;
        outline: none;
        border: 1px solid #00A1E0;    
        font-size: 1.1rem;
    }
    .seccion_botones {
        justify-content: space-around;
        width: 100%;
        height: 7%; /* Ajuste la altura automáticamente */
        padding: 0 5px;
        align-items: center;
        background-color: transparent;
        /*background-color: yellow;*/
    }
    .seccion_leer_texto_encriptado {
        width: 90%;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
        height: 27%; 
        color: #333333;
        text-align: center;
        border-radius: 32px;
        box-shadow: 0 0 10px inset #003366;
        /*background-color: green;*/
    }
    .contenedor_seccion_mensajes {
        /*padding: 15px;*/
        align-content: center;
    }
    .contenedor_seccion_mensajes > .muñeco_seccion2 {
        display: none;
    }
    .parrafo_2{
        font-family: 'Inter', sans-serif;
        font-size: 28px;
        font-weight: bold;
        color: #EBF4F6;
    }
    .parrafo_3{
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #EEF7FF;
    }
    .respuesta_boton_encriptar {
        height: 100%;
    }
    .respuesta_boton_encriptar > .text_seccion2,
    #copiar {
        width: 100%;
    }
    .pie_pagina{
        font-size: 22px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 767px){
    .container_video {
        max-width: 100%;
        height: 100%;
        /*background-color: red;*/
    }
    .container_general {
        width: 100%;
        height: 95%;
        /*padding: 12px;*/
        /*background-color: red;*/
    }
    .container_padre {  
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 100%;
        height: 80%;
        padding: 12px;
        /*background-color: red;*/
        /*padding: 10px;*/
    }
    header{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*padding: 0 auto;*/
        /*margin: 0;*/
    }
    .logotipo_alura{
        /*filter: drop-shadow(0px 0px 15px white);*/
        filter:contrast(400%);
        width: 15%;
        height: 26%;
        padding: 15px 0 10px 0;
        margin: 0;
    }
    h1{
        width: 50%;
        padding: 5px;
        align-content: center;
        /*align-items: center;
        text-align: center;*/
        /*background-color: red;*/
        /*display: inline-block;*/
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    .redes_sociales{
        display: flex;
        gap: 10%;
    }
    .linkedin,.github{
        font-size: 2rem;
        align-content: center;
        /*background-color: green;*/
        padding: 0%;
    }
    .seccion_ingresar_texto{
        width: 100%;
        height: 70%;
        margin: 0;
        /*background-color: green;*/
    }
    .ingreso_texto{
        width: 100%;
        /*margin-right: 12px;*/
        /*margin: 0 auto;*/
    } 
    .alert_1{
        width: 100%;
    }
    .seccion_botones{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
        /*background-color: green;*/
    }
    #encriptar,#desencriptar{
        width: 100%;
        margin: 5px 0 ;
    }
    .seccion_leer_texto_encriptado{
        width: 100%;
        height: 30%;
        /*background-color: #00A1E0;*/
    }
    .contenedor_seccion_mensajes{
        align-content: center;
    }
    .contenedor_seccion_mensajes>.muñeco_seccion2{
        display: none;
    }
    .respuesta_boton_encriptar{
        /*width: 100%;*/
        height: 100%;
    }
    footer{
        /*background-color: yellow;*/
        width: 100%;
        margin-top: 5px;
    }
    .pie_pagina{
        font-size: 1.2rem;
    }
}