@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
}

body{
    /*background-color: #E5E5E5;*/
    /*width: 100vw;*/
    height: 100vh;
}
header{
    display: flex;
}
.logotipo_alura{
    filter: drop-shadow(0 0 15px #CDE8E5);
    /*width: 130px;
    height: 50px;
    background-color: red;*/
    padding-top: 15px;
}

.container_video{
    height: 100%;
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill;
    z-index: -1;
}

.container_general{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
h1{
    text-align: center;
    /*background-color: red;*/
    display: inline-block;
    width: 80%;
    color: #CDE8E5;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    text-shadow: 0 0 10px #0079FF;
    font-family: "Inter", sans-serif;
}

.container_padre{
    display: flex;
    gap: 3%;
    width: 100%;
    height: 88%;
    padding-left: 3%;
}

.seccion_ingresar_texto{
    width: 65%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    /*background-color: goldenrod;*/
}
.ingreso_texto{
    width: 75%;
    border: none;
    resize: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #EEF7FF;
    backdrop-filter: blur(11px);  
    padding: 15px;
    box-shadow: 0 0 9px inset #CDE8E5;
    border-radius: 10px;
}
.ingreso_texto::placeholder{
    color: #EEF7FF;
}
.alert_1{
    width: 75%;
    text-align: left;
}
.parrafo_1{
    font-size: .8rem;
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: "Inter", sans-serif;
    margin-top: 4px;
    color: #EEF7FF;
}
.parrafo_1 > span{
    font-size: 17px;
}
.seccion_botones{
    width: 75%;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
input{
    width: 36%;
    height: 40px;
    border-radius: 15px;
    color:  #EEF7FF;
    outline: none;
    border: 1px solid #4D869C;
    font-size: 1.1rem;
}
input[value ="Encriptar"]{
    background-color: #7AB2B2;
}
input[value ="Desencriptar"]{
    background-color:#CDE8E5;
    color: #4D869C;
}

.seccion_leer_texto_encriptado{
    background-color: transparent;
    /*opacity: .5;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 32px;
    box-shadow: 0 0 10px inset #CDE8E5;
    width: 22%;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(11px);
}

.contenedor_seccion_mensajes{
    width:100%;
    height: 70%;
    
}
.contenedor_seccion_mensajes>h2,p{
    text-align: center;
}
.contenedor_seccion_mensajes>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.muñeco_seccion2{
    margin-top: 15px;
    width: 270px;
}
.parrafo_2{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #EEF7FF;
}
.parrafo_3{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #EEF7FF;
}
.respuesta_boton_encriptar{
    display: none;
    flex-direction: column;
    gap:8px;
    width: 100%;
    padding: 8px;
}

.respuesta_boton_encriptar > textarea{
    resize: none;
    outline: none;
    overflow: auto;
    padding: 10px;
    font-size: .9rem;
    font-family: "Inter", sans-serif;
    color: #EEF7FF;
    font-weight: 600;
    border-radius: 15px;
    opacity: .5;
    background-color: #7AB2B2;
}
.respuesta_boton_encriptar>input{
    width: 100%;
    border-radius: 15px;
    font-size: 1.1rem;
    padding:10px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    background-color: #7AB2B2;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.94);
    color: #EEF7FF;
}
.respuesta_boton_encriptar >input:hover{
    background-color: #7AB2B2;
}
footer{
    display: flex;
    align-items: center;
    /*background-color: red;*/
    padding: 1.4px;
    color: #EEF7FF;
    filter: drop-shadow(0 0 15px #DFF5FF);
}
marquee{
    font-family: "Inter", sans-serif;
    /*-transform: uppercase; */  
    font-style: oblique;
}

@media (max-width:768px) {
    .container_padre{
        display: flex;
        flex-direction: column;
        background-color: aquamarine;
        height: 92%;
        padding: 5px;
    }
    .seccion_ingresar_texto{
        width: 100%;
        height: 88%;
        padding: 0;
    }
    .ingreso_texto{
        width: 100%;
        height: 80%;
    }
    .seccion_leer_texto_encriptado> img{
        display: none;
    }
    .seccion_leer_texto_encriptado{
        width: 100%;
    }
    input{
        width: 50%;
        font-size: 25px;
        padding: 10px;
    }
    .seccion_botones{
        width: 100%;
        height: 7%;
        padding: 0 25px;
        background-color: aqua;
    }
}